$white:white;
$containerBgColor: #333;
$leftBgColor:rgba(223,39,39,0.7);
$leftButtonHoverColor:rgba(161,11,11,0.3);
$rightBgColor:rgba(43,43,43,0.8);
$rightButtonHoverColor:rgba(92,92,92,0.3);
$hoverWidth:75%;
$otherWidth:25%;
$speed:1000ms;

html,body{
  padding:0;
  margin:0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x:hidden
}

h1{
  font-size: 4rem;
  color: $white;
  position: absolute;
  left:50%;top:20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.button{
  position: absolute;
  left: 50%;
  top:50%;
  height:2.5rem;
  padding-top:1.3rem;
  width:15rem;
  text-align: center;
  color:$white;
  border:$white solid 0.2rem;
  font-size: 1rem;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%)
}

.split.left .button:hover{
  background-color: $leftButtonHoverColor;
  border-color: $leftButtonHoverColor;
}

.split.right .button:hover{
  background-color: $rightButtonHoverColor;
  border-color: $rightButtonHoverColor;
}

.container{
  position: relative;
  width:100%;
  height:100%;
  background:$containerBgColor;
}

.split{
  position:absolute;
  width:50%;
  height: 100%;
  overflow: hidden;
}

.split.left{
  left:0;
  background:url('img/') center center no-repeat;
  background-size: cover;
}

.split.left:before{
  position:absolute;
  content:'';
  width: 100%;
  height:100%;
  background:$leftBgColor
}

.split.right{
  right:0;
  background:url('img/') center center no-repeat;
  background-size: cover;
}

.split.right:before{
  position:absolute;
  content:'';
  width: 100%;
  height:100%;
  background:$rightBgColor
}

.split.left,.split.right,.split.left:before,.split.right:before{
  transition: $speed all ease-in-out
}

.hover-left .left{
  width:$hoverWidth;
}
.hover-left .right{
  width:$otherWidth;
}

.hover-left .right:before{
  z-index:2;
}

.hover-right .right{
  width:$hoverWidth;
}
.hover-right .left{
  width:$otherWidth;
}

.hover-right .left:before{
  z-index:2;
  }

@media screen and (max-width:800px){
  h1{
    font-size: 2rem;
  }
  .button{
    width:12rem;
  }
}

@media screen and (max-height:700px){
  .button{
    top:70%;

  }
}